#md_Detalle .modal-dialog {
    width: 70%;
}

#Registro .modal-dialog {
    width: 80%;
}

#myModal .modal-dialog {
    width: 70%;
}

#ModalCuaroTurnos .modal-dialog {
    width: 99%;
}

#ModalUsuarios .modal-dialog {
    width: 99%;
}

#tm_TomarEstudioIonizante .modal-dialog {
    width: 80%;
}

#tm_TomarEstudioIonizante {
    top: 1%;
}

#MyModalPacient .modal-dialog {
    width: 80%;
}

#MyModalAgendamiento .modal-dialog {
    width: 99%;
}

#mo_ModificarEstudio .modal-dialog {
    width: 99%;
}

#la_LecturaInforme .modal-body {
    background-color: #b3b3b3;
}

#TablaLectura {
    background-color: #b3b3b3;
    color: #000000;
}

#la_LecturaInforme .modal-dialog {
    width: 99%;
}

#ModalPublicarestudios .modal-dialog {
    width: 99%;
}

#ModalPublicarestudios .modal-body {
    background-color: #b3b3b3;
}

#mo_AgregarObservacionesInforme .modal-dialog {
    width: 75%;
}

#mo_DevolverEstudio .modal-dialog {
    width: 75%;
}

#mo_CancelarCita .modal-dialog {
    width: 75%;
}

#mo_TurnosEspecialistas .modal-dialog {
    width: 60%;
}

#mo_Informes .modal-dialog {
    width: 75%;
}

#AgregarEstudio .modal-dialog {
    width: 80%;
}

#ModalEditarEstudio .modal-dialog {
    width: 80%;
}

#ModalEditarSedes .modal-dialog {
    width: 60%;
}

#mo_TransferEsp .modal-dialog {
    width: 60%;
}

#AgregarTiempoModal .modal-dialog {
    width: 60%;
}

#ModalAgregarConfiguracionSedes .modal-dialog {
    width: 80%;
}

/*fieldset.scheduler-border {*/
/*border: 1px groove #ddd !important;*/
/*padding: 0 1.4em 1.4em 1.4em !important;*/
/*margin: 0 0 1.5em 0 !important;*/
/*-webkit-box-shadow: 0px 0px 0px 0px #000;*/
/*box-shadow: 0px 0px 0px 0px #000;*/
/*}*/

/*legend.scheduler-border {*/
/*width: inherit; /!* Or auto *!/*/
/*padding: 0 10px; /!* To give a bit of padding on the left and right *!/*/
/*border-bottom: none;*/
/*}*/

.colored-header .modal-header {
    padding: 20px;
    border-bottom: 1px solid #1080de !important;
    background-color: #2494f2;
    color: #fff;
}

.colored-header.success .modal-header {
    padding: 20px;
    border-bottom: 1px solid #4cac4c !important;
    background-color: #60c060;
    color: #fff;
}

.colored-header.info .modal-header {
    padding: 20px;
    border-bottom: 1px solid #47acca !important;
    background-color: #5bc0de;
    color: #fff;
}

.colored-header.warning .modal-header {
    padding: 20px;
    border-bottom: 1px solid #eb8500 !important;
    background-color: #ff9900;
    color: #fff;
}

.colored-header.danger .modal-header {
    padding: 20px;
    border-bottom: 1px solid #cb371f !important;
    background-color: #df4b33;
    color: #fff;
}

.note-editable {
    height: 300px;
}

.texto {
    height: 100px;
    width: 100%;
    padding: 4px;
    background: #fff;
    overflow-y: scroll;
    border-top-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
}